<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BeerocracyWindowsApp.Properties.Settings.BeerocracyConnectionString"
            connectionString="Data Source=beerocracy.database.windows.net;Initial Catalog=Beerocracy;Persist Security Info=True;User ID=natalie.price;Password=Leonard77;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>